@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

html {
  interpolate-size: allow-keywords;
}

@layer base {
  button {
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-md);
    background-color: var(--color-btn);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 2);
  }

  input,
  textarea {
    background-color: rgb(from var(--color-input) r g b / 0.6);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    resize: none;
    border-radius: var(--radius-md);
    outline: solid 1px var(--color-input);
  }

  body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
  }

  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@theme inline {
  --color-btn: var(--color-gray-400);
  --color-input: var(--color-gray-700);
  --default-font-family: "Nunito", var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-btn: var(--color-gray-300);
    --color-input: var(--color-gray-500);
  }
}
